<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registrer bruger</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
<h1>Er du klar til at logge ind?</h1>
<h2>Så er det nu!</h2>

<form method="post" th:action="@{/login}" class="login-form">
    <label for="username">Brugernavn</label>
    <input type="text" id="username" name="username" placeholder="Indtast brugernavn" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Indtast password" required>
    <br><br>
    <button type="submit">Login</button>
</form>
</div>

</body>
</html>