<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap" rel="stylesheet">
    <title>Olsker cupcakes - Byg din egen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header class="top-bar">
    <div class="info-text">
        DU ER LOGGET IND SOM: <span th:text="${session.currentUser.email}">Bruger</span>
    </div>
    <div class="user-menu">
        <a href="/logout" class="btn-min-side">LOG UD</a>
    </div>
</header>

<section class="logo-container">
    <h1 class="view-title">Tak for din bestilling!</h1>
    <div class="hotpink-line-thick"></div>
</section>

<main class="confirmation-wrapper">
    <div class="selection-box confirmation-box">
        <h2 class="annie-use-your-telescope-regular">Betaling gennemført</h2>
        <p>Din betaling er gået igennem. Din ordre bliver nu behandlet.</p>
        <p>Din nye balance er: <strong><span th:text="${nyBalance}">0.0</span> kr.</strong></p>
        <p>En ordrebekræftelse er sendt til din email:</p>
        <p><strong><span th:text="${session.currentUser.email}">Bruger</span></strong></p>
    </div>

    </main>

<footer class="bottom-decoration">
    <div class="hotpink-line-thick"></div>
</footer>

</body>
</html>